<%= render "flash" %>

<%= content_for :title, "Login" %>

<%= render "main", title: "Login" do %>
  <%= render 'technology_switch', switch_to: :react, url: "/react/sessions/new" %>
  <%= form_with url: sessions_path, method: :post, class: "form" do |f| %>
    <div class="form__group">
      <%= f.label :email, "Email (sazae@example.com)", class: "form__label" %>
      <%= f.text_field :email, class: "form__input" %>
    </div>
    <div class="form__group">
      <%= f.label :clear_passwords, "Password (hogehoge)", class: "form__label" %>
      <%= f.password_field :clear_password, class: "form__input" %>
    </div>
    <div class="form__group">
      <%= f.button type: :submit, class: "button button--primary font-bold",
                   data: {controller: "loadable", action: "click->loadable#activate"} do %>
        <span class="button__loader"></span>Login
      <% end %>
    </div>
  <% end %>
<% end %>
