<%= render "flash" %>

<% content_for :title, "Posts" %>
<%= render 'main', title: "Posts" do %>
  <%= render 'technology_switch', switch_to: :react, url: "/react/posts" %>
  <div class="command-bar">
    <%= button_to "Reset Data", fixtures_path, method: :post,
                  class: "button button--danger--outline" %>
    <%= new_post_button %>
  </div>
  <table class="table mt-12">
    <thead>
    <tr class="table__tr_head">
      <th class="table__th">ID</th>
      <th class="table__th">Title</th>
    </tr>
    </thead>
    <tbody>
    <% @posts.each do |post| %>
      <tr class="table__tr_body">
        <td class="table__td"><%= post.id %></td>
        <td class="table__td text-left"><%= post.content %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

